
<section ng-controller="mainController" ng-init="getData()">
<%= render 'template' %> 

 <div id="mapPage">

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div id="map"></div>
            <div class="exclamation-sign"><a href="#"><i class="fa fa-exclamation-circle"></i></a></div>            
        </div>

        <section id="map-details" ng-show="clickedMarkerData.arrest !== '' ">
               <div class="container-fluid">
               
                              <div class="row map-popup">
                                  <div class="container">
                                    <button class="left_button" ng-click="previousMarker()" ng-show="disableNextPrevButton == false"><a href="javascript:void(0);"><i class="fa fa-caret-left"></i></a></button>
                                    <h3>{{saneLocationMarkerLength}}</h3>
                                    <button class="right_button" ng-click="NextMarker()" ng-show="disableNextPrevButton == false"><a href="javascript:void(0);"><i class="fa fa-caret-right"></i></a></button>
                                  </div>
                              </div>
               
                              <div class="row">
                                <div class="container">
                                <div class="crime-info">
                                  <ul>
                                    <li>
                                      <div class="col-md-1 user-info-icon">
                                        <img src="<%= image_path('map-user-crime.png') %>">             
                                      </div>
                                      <div class="col-md-10 user-desp-part">
                                        <h4>{{clickedMarkerData.primary_type}}</h4>
                                        <!--<p>{{clickedMarkerData.block}} <span>({{clickedMarkerData.description}})</span></p>-->
                                         <div class="table-user-info">
                                            <ul>
                                              <li><span>Date :</span> {{(clickedMarkerData.date | date:'yyyy-MM-dd')}}</li>
                                              <li><span>Time :</span> {{(clickedMarkerData.date | date:'hh:mm:ss a')}}</li>
                                              <li><span>Incident ID : </span> {{clickedMarkerData.id}}</li>
                                              <li><span>Case Number : </span> {{clickedMarkerData.case_number}}</li>
                                              <li><span>Agency : </span> Chicago Police Department</li>
                                              <li><span>Arest Made : </span> {{clickedMarkerData.arrest}}</li>
                                            </ul>
                                        </div> 
                                      </div>
                                      <div class="col-md-1 user-liking">
                                        <p>{{(clickedMarkerData.date | date:'yyyy-MM-dd')}}<span>{{(clickedMarkerData.date | date:'hh:mm:ss a')}}</span></p>
                                         <p class="comment-share"><a href="#"><img src="<%= image_path('tip-icon.png') %>"></a><a href="javascript:void(0);"><i class="fa fa-share"></i></a></p> 
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                             </div>


               </div>
        </section>



        <!-- /#page-content-wrapper -->
   
    </div>
    <!-- /#wrapper -->
    
    
   </div> 
   
    
 </section>
 <script type="text/javascript">
    $("#slider").dateRangeSlider();
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    
    $(function () {
      $('input,textarea').focus(function () {
          $(this).data('placeholder', $(this).attr('placeholder'))
                 .attr('placeholder', '');
      }).blur(function () {
          $(this).attr('placeholder', $(this).data('placeholder'));
      });
    });
    
    ( function() {
      $('#btn-search').on('click', function(e) {
        e.preventDefault();
        $('#search').animate({width: 'toggle'}).focus();
    
      });
    } () );
    
 </script>
 