
html, body {
    min-height: 100%;
}
body {
    -moz-user-select: none;
}
body {
    position: relative;
}
.form.head-form {
    float: right;
    padding: 8px 0;
}
.form.head-form input {
    max-width: 100% !important;
    width: 300px !important;
}
.overlay {
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 70px;
    width: 100%;
    z-index: 10;
}
.customLoader {
    left: 43%;
    position: absolute;
    top: 27%;
    z-index: 99999;
}
.cluster:hover > img {
    transform: scale(1.2);
    transition: -moz-transform 0.2s ease-in-out 0s;
}
.CustomData {
    width: 95%;
}
p.add {
    color: #fff;
    font-weight: bold;
    line-height: 14px;
    margin-bottom: 0;
    margin-top: 14px;
    text-indent: 0;
}
.btn.btn-warning {
    background-color: #f47e1f;
}
.nav-bar-top {
  background: none repeat scroll 0 0 #0288d1;
  border: medium none !important;
  border-radius: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
form.head-form {
    float: right;
    padding: 8px 0;
}
form.head-form input {
    max-width: 100% !important;
    width: 300px !important;
}
.navbar-brand.logo-brand.demo_logo {
    margin-top: 0px;
}
.navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    position: relative;
    vertical-align: middle;
}
.navbar-form .form-group p {
    float: left;
    font-weight: bold;
    margin-right: 9px;
    margin-top: 5px;
}
.navbar-form .form-control {
    background: #ffffff none repeat scroll 0 0;
    border: medium none;
    border-radius: 0px;
    box-shadow: none;
    color: #333;
    display: inline-block;
    padding: 5px 50px 5px 16px;
    vertical-align: middle;
    width: 362px;
}
.navbar-form .form-group .btn.btn-warning {
  background: url("../search-icon.png") no-repeat scroll 50% 60% rgba(0, 0, 0, 0);
  border: medium none;
  border-radius: 0;
  color: #000;
  height: 34px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
}
.navbar-form.nav li {
  float: left;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 8px;
}
.form-control::-moz-placeholder {
    color: #333333;
    opacity: 1;
}
.navbar-form.nav li p.add {
    float: left;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 6px;
}
.customLoader {
    position: fixed;
}
.customLoader {
    left: 1%;
    margin: 0 auto;
    position: fixed;
    top: 26%;
    width: 120px;
    z-index: 99999;
}
.customLoader img {
    height: 10px;
    width: 30px;
}
#wrapper {
    margin-top: 0px;
    padding-left: 0;
    transition: all 0.1s ease 0s;
}
#wrapper.toggled {
    padding-right: 250px;
}
#sidebar-wrapper {
    background: #fff none repeat scroll 0 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    position: fixed;
    left: 250px;
    transition: all 0.1s ease 0s;
    width: 0;
    border-right: 1px solid #ddd;
    z-index: 1000;
    top: 0px;
}
#wrapper.toggled #sidebar-wrapper {
    width: 380px;
}
#page-content-wrapper {
    padding: 15px;
    position: absolute;
    width: 100%;
}
#wrapper.toggled #page-content-wrapper {
    margin-right: -250px;
    position: absolute;
}
.sidebar-nav {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 380px;
}
.sidebar-nav li {
    color: #fff;
    line-height: 40px;
    padding: 3px 10px;
    text-indent: 20px;
}
.sidebar-nav li a {
    color: #fff;
    display: block;
    text-decoration: none;
}
.sidebar-nav li a:hover {
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    font-size: 18px;
    height: 40px;
    line-height: 22px;
    padding: 10px 17px;
    text-indent: 0;
}
.sidebar-nav > .sidebar-brand a {
    color: #fff;
}
.navbar-form.nav li:last-child {
    margin-right: 0;
}
.sidebar-nav > .sidebar-brand a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
}
.navbar-collapse.collapse.mobile_div {
    display: none !important;
}
.btn.btn-default .navbar-toggle.tog_menu {
    display: block;
}
.sidebar-nav li table {
    margin-top: 13px;
    width: 100%;
}
.sidebar-nav li table tr td {
    line-height: initial;
    padding: 2px;
}
.sidebar-nav li table.table tr td {
    cursor: pointer ;
    font-size: 10px;
    line-height: 11px;
    padding: 3px 8px;
    vertical-align: inherit;
    text-indent: 0;
}
.sidebar-nav li table.table tr td:first-child {
    font-size: 8px;
    text-align: left;
}
.sidebar-nav li table.table tr th {
    font-size: 12px;
    text-indent: 0;
    text-align: left;
}
.sidebar-nav li table.table {
    width: 100%;
}
.sidebar-nav li table.table thead, tbody, tr, td, th {
    display: block;
}
.sidebar-nav li table.table tr::after {
    clear: both;
    content: " ";
    display: block;
    visibility: hidden;
}
.sidebar-nav li table.table thead th {
    background: #1aa564 none repeat scroll 0 0;
    font-size: 11px;
    height: 36px;
    line-height: 13px;
    padding: 4px 9px;
}
.sidebar-nav li table.table tbody {
    background: #fff none repeat scroll 0 0;
    color: #333;
    max-height: 217px;
    overflow-x: hidden;
    overflow-y: auto;
}
.sidebar-nav li table.table thead {
}
.sidebar-nav li table tr td label {
   font-size: 13px;
    line-height: 14px;
    display: block;
    margin-bottom: 0;
    text-indent: 0;
}
.sidebar-nav li table tr td label input {
    position: relative;
    top: 4px;
}
a.btn.btn-default {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
}
a.btn.btn-default .navbar-toggle.tog_menu {
    border: none;
    margin-top: 0;
}
a.btn.btn-default .navbar-toggle.tog_menu:hover {
    background: #1b75bb none repeat scroll 0 0;
    border-color: #1b75bb;
}
a.btn.btn-default .navbar-toggle.tog_menu:focus {
    background: #1b75bb none repeat scroll 0 0;
    border-color: #1b75bb;
}
.sidebar-nav li.crm_type {
    margin-top: 18px;
}
@media (min-width: 768px) {
#wrapper {
    padding-right: 0;
}
#wrapper.toggled {
  padding-left: 380px;
  padding-right: 0;
}
#sidebar-wrapper {
    width: 0;
}
#wrapper.toggled #sidebar-wrapper {
    width: 380px;
}
#page-content-wrapper {
    padding: 0;
    position: relative;
}
#wrapper.toggled #page-content-wrapper {
    margin-right: 0;
    position: relative;
}
}
@media screen and (max-width: 767px) {
.sidebar-nav li {
    color: #ffffff;
    line-height: 40px;
    padding: 4px 20px;
    text-indent: 20px;
}
.navbar-form .form-control {
    padding: 5px 9px 5px 16px;
    vertical-align: middle;
    width: 100%;
}
.navbar-form .form-group .btn.btn-warning {
    border: medium none;
    border-radius: 40px;
    float: right;
    height: 34px;
    margin-top: 6px;
    position: relative;
    right: 0;
    top: 0;
}
.sidebar-nav > .sidebar-brand {
    font-size: 18px;
    height: 28px;
    line-height: 18px;
    padding: 4px 18px;
    text-indent: 0;
}
.navbar-collapse.collapse.mobile_div .navbar-form.nav {
    margin: 0;
    padding: 0;
}
.navbar-collapse.collapse.mobile_div .navbar-form.nav li {
    margin-right: 0;
    padding: 0;
    text-indent: 0;
}
a.btn.btn-default .navbar-toggle.tog_menu {
    border: 1px solid #ffffff;
    margin-right: 0;
}
.navbar-collapse.collapse.mobile_div {
    display: block !important;
    padding: 0;
}
.navbar-form.nav li.src_rw_lst {
    display: none;
}
#wrapper {
    margin-top: 48px;
}
#page-content-wrapper {
    padding: 0;
}
.navbar.navbar-inverse .navbar-collapse {
    border: medium none;
    float: right;
    width: 24%;
}
.navbar.navbar-inverse .navbar-header {
    float: left;
}
.navbar-form.nav li {
    float: right;
    margin-bottom: 0;
    margin-right: 3px;
    margin-top: 6px;
    text-align: right;
}
.navbar.navbar-inverse .navbar-collapse .navbar-form {
    border: medium none;
    margin: 0;
    padding: 0;
}
.navbar-brand.logo-brand.demo_logo {
    margin-top: -1px;
}
.mobile_div {
    display: block;
}
form.head-form {
    width: 100%;
}
form.head-form input {
    max-width: 100% !important;
    width: 100% !important;
}
}





/*kamal custom css start here with love:)image_url('register-bg.png')*/

.image-setting {
  background: none repeat scroll 0 0 #f9f9f9;
  height: 100%;
  padding-top: 60px;
  position: fixed;
  width: 100%;
}
section#register {
  width: 100%;
  position: relative;
}
.inner-register {
  background: none repeat scroll 0 0 #fff;
  border-radius: 0px;
  border: 1px solid #d9d9d9;
  /*box-shadow: 0 0 6px #e7e7e7;*/
  margin: 0 auto;
  padding: 25px;
  width: 40%;
}
.inner-register .form-control {
  background: none repeat scroll 0 0 #f7f7f7;
  background-image: none;
  border: 1px solid #e4e4e2;
  border-radius: 4px;
  box-shadow: none;
  color: #000;
  display: block;
  font-size: 13px;
  height: 38px;
  line-height: 1.42857;
  margin-bottom: 12px;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}
.inner-register .form-control:focus{
    border: 1px solid #1b75bb;
}
.inner-register label {
  color: #767a7a;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 6px;
}
.inner-register h1 {
  color: #353535;
  font-size: 20px;
  margin-bottom: 25px;
  margin-top: 0;
  text-transform: uppercase;
}
.inner-register .btn.btn-primary {
  background: none repeat scroll 0 0 #1b75bb;
  border: medium none;
  margin-top: 9px;
  padding: 10px 30px;
}
.inner-register .btn.btn-primary:hover{
    background: #2385d2;
}
.inner-register p {
  float: right;
  font-size: 14px;
  margin: 0;
  color: #767a7a;
  padding-top: 20px;
  vertical-align: middle;
}
.inner-register p a{
    color: #767a7a;
}
.inner-register p a:hover{
    background: none;
    color: #1b75bb;
    text-decoration: none;
}

#map{
  top: 100px;
}



a{
  transition: color 0.4s ease 0s, background-color 0.4s ease 0s;
}
.top-wrapper-sidemenu{
    background: url("../chicago-police.png") no-repeat;
    background-size: contain;
    width: 100%;
    height: 150px;
    position: relative;
}
.top-wrapper-sidemenu h1 {
  color: #fff;
  font-size: 26px;
  padding: 25px 20px;
  margin-top: 0px;
}
.top-wrapper-sidemenu h1 img {
  margin-right: 10px;
  vertical-align: top;
  width: 35px;
}
.col.user-username {
  bottom: 20px;
  color: #fff;
  font-size: 16px;
  left: 25px;
  position: absolute;
  width: 100%;
}
#sidebar-wrapper ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#sidebar-wrapper li {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}
#sidebar-wrapper ul a {
  color: #353535;
  font-size: 15px;
  text-decoration: none;
}
#sidebar-wrapper li:hover {
  background: none repeat scroll 0 0 #1b75bb;
}
#sidebar-wrapper a:hover{
    color: #fff;
    background: none;
    text-decoration: none;
}
.navbar-brand.demo_logo{
    float: right;
}
.navbar-toggle.tog_menu {
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  float: left;
  margin-bottom: 0;
  margin-right: 25px;
  margin-top: 22px !important;
  padding: 9px 10px;
  position: relative;
}
.toolbar {
    color: #fff;
}

.toolbar li {
    float: left;
}

.toolbar li:first-child a { border-radius: .5em 0 0 .5em; }
.toolbar li:last-child button { border-radius: 0 .5em .5em 0; }

.toolbar a,
.toolbar input[type="search"],
.toolbar button {
    display: block;
    padding: 3px 0px 3px 10px;
    position: relative;
}

.toolbar a:hover,
.toolbar input[type="search"]:hover,
.toolbar input[type="search"]:focus,
.toolbar button:hover {
    background: #2a80b9;
}

.toolbar input[type="search"] {
    display: none;
    height: 21px;
    width: 177px;
}

.toolbar input[type="search"]::-webkit-input-placeholder { color: #fff; }
.toolbar input[type="search"]::-moz-placeholder { color: #fff; opacity: 1; }
.toolbar input[type="search"]:-moz-placeholder { color: #fff; opacity: 1; }
.toolbar input[type="search"]:-ms-input-placeholder { color: #fff; }
.navbar-form.nav li input {
  background: none !important;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  height: 31px;
  width: 225px;
  margin-left: 2px;
}
.navbar-form.nav.navbar.toolbar button {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
}
.navbar-form.nav.navbar.toolbar button i{
    font-size: 19px
}
.navbar-form.nav.navbar.toolbar .fa.fa-filter{
    font-size: 20px;
    padding: 3px 10px;
}
.filter-section > a {
  color: #fff;
  padding: 0 !important;
}
.filter-section > a:hover{
    background: none !important;
}
#sidebar-wrapper li i {
  margin-right: 15px;
}
.row.top-tabs {
  padding-top: 0px;
}
.row.menu-top{
    margin: 0px;
}
.navbar{
    margin-bottom: 0px !important;
}
.row.top-tabs {
  background: none repeat scroll 0 0 #0288d1;
  position: fixed;
  top: 58px;
  width: 100%;
  z-index: 9999;
}
.top-tabs .nav-tabs > li {
  display: inline-block;
  margin-bottom: -1px;
  width: 10%;
  float: none;
}
.top-tabs .nav.nav-tabs{
    text-align: center !important;
}
.top-tabs .nav-tabs > li > a{
    color: #cfcfcf;
    font-size: 15px;
    text-transform: uppercase;
}
.top-tabs .nav-tabs .active{
    border-bottom: 2px solid #fff;
}
.top-tabs .nav-tabs .active > a {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
  border: medium none !important;
  color: #fff !important;
}
.top-tabs .nav-tabs > li > a:hover{
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
  border: medium none !important;
  color: #fff !important;
}
#map-details {
  bottom: 0;
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 9999;
}
.map-popup .container button {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
}
.map-popup {
  background: none repeat scroll 0 0 #0288d1;
  padding: 8px;
}
.map-popup .container button a i{
    color: #fff;
    font-size: 25px;
}
.left_button {
  float: left;
  width: 3%;
}
.map-popup h3 {
  float: left;
  font-size: 18px;
  margin: 0;
  width: 94%;
  color: #fff;
  padding-top: 1px;
}
.right_button {
  float: right;
  width: 3%;
}
.crime-info {
  display: inline-block;
  padding: 10px;
  width: 100%;
}
.crime-info > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.col-md-1.user-info-icon {
  padding-left: 0;
  padding-right: 0;
  width: 4%;
}
.col-md-10.user-desp-part {
  width: 86%;
}
.col-md-10.user-desp-part h4 {
  margin-bottom: 5px;
  margin-top: 0;
}
.col-md-10.user-desp-part p{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0;
}
.col-md-10.user-desp-part p span{
    display: block;
}
.col-md-1.user-liking > p {
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 0;
  text-align: right;
  color: #808080;
}
.col-md-1.user-liking span {
  display: block;
}
.col-md-1.user-liking {
  padding-right: 0;
  width: 10%;
}
#page-content-wrapper{
    position: relative;
}
.table-user-info ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.table-user-info li{
    margin-bottom: 5px;
    color: #353535;
    font-weight: bold;
}
.table-user-info{
    margin-top: 10px;
}
.table-user-info span {
  color: #646464;
  display: inline-block;
  font-weight: normal;
  width: 12%;
}
.user-liking p a {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #929497;
  font-size: 22px;
  position: relative;
  top: 4px;
}
.user-liking p a:hover{
  background: none;
  color: #0389d1;
}
.user-liking p img {
  margin-right: 18px;
}
.list-view .row {
  margin: 0 -30px;
}
/*list page css start here*/
.list-view {
  padding-bottom: 20px;
  padding-top: 100px;
}
.list-view .crime-info {
  display: inline-block;
  padding: 0px;
  width: 100%;
}
.list-view .crime-info > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list-view .col-md-1.user-info-icon {
  padding-left: 0;
  padding-right: 0;
  width: 4%;
}
.list-view .col-md-10.user-desp-part {
  width: 85%;
}
.list-view .col-md-1.user-liking {
  width: 11%;
  padding-right: 0px;
}
.list-view .col-md-10.user-desp-part h4 {
  margin-bottom: 5px;
  margin-top: 0;
}
.list-view .col-md-10.user-desp-part h3 {
  font-size: 15px;
  line-height: 23px;
  margin-bottom: 0;
  margin-top: 0;
}
.list-view .col-md-10.user-desp-part h3 span {
  display: block;
}
.list-view .table-user-info {
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 18px;
  width: 50%;
}
.list-view .table-user-info ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list-view .table-user-info li {
  color: #353535;
  font-weight: bold;
  margin-bottom: 5px;
}
.list-view .table-user-info span {
  color: #646464;
  display: inline-block;
  font-weight: normal;
  width: 28%;
}
.list-view .crime-info li {
  display: inline-block;
  padding: 15px;
  width: 100%;
  border: 1px solid #ddd;
  float: left;
  border-bottom: none;
  border-right: none;
  border-left: none;
}
.list-view .crime-info li:nth-child(2n){
  background: none repeat scroll 0 0 #fafafa;
  border-left: 3px solid #bce19f;
}
.list-view .table-user-info li {
  background: none repeat scroll 0 0 #fafafa;
  border: 1px solid #ededed;
  color: #353535;
  float: none !important;
  font-weight: bold;
  margin-bottom: 0 !important;
  padding: 10px !important;
  border-bottom: none;
  border-right: none;
  border-left: none;

}
.nav > li > a:focus, .nav > li > a:hover {
  border: medium none !important;
  color: #fff !important;
  outline: medium none !important;
  text-decoration: none !important;
  background: none !important;
}
.filter-section > a{
  color: #fff !important;
}


/* Toggle Styles */

#wrapper {
    padding-left: 0;
   /* -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;*/
}

#wrapper.toggled {
    padding-left: 300px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 300px;
    width: 0;
    height: 100%;
    margin-left: -300px;
    overflow-y: auto;
    overflow-x: hidden; 
   /* -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;*/
}

#wrapper.toggled #sidebar-wrapper {
    width: 300px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -300px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #fff;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 300px !important;
    }

    #wrapper.toggled {
        padding-left: 0 !important;
    }

    #sidebar-wrapper {
        width: 300px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 0px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.exclamation-sign {
    bottom: 5%;
    position: fixed;
    right: 5%;
}
.exclamation-sign i{
  color: #0288d1;
  font-size: 40px;
}
.exclamation-sign > a {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.filter-desp {
    background: #fff;
    position: absolute;
    right: 10px;
    width: 200px;
    border-radius: 5px;
}
.filter-section{
    position: relative;
}
.filter-desp ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.filter-desp li {
    font-size: 16px;
    height: auto;
    line-height: 20px;
    padding: 0px 17px;
    text-indent: 0;
    color: #000 !important;
    float: none !important;
    display: inline-block;
    width: 100%;
}
.crm_type table{
    display: inline-block;
    width: 100%;
}
.horrible-input {
    width: auto !important;
    height: auto !important;
    vertical-align: text-bottom;
}
p.add{
    color: #000 !important;
    margin-bottom: 10px;
}
.ui-rangeSlider {
    margin: -20px auto 0 !importants;
}













/*custom css start here*/


@media (min-width: 992px) and (max-width: 1199px){

  .top-tabs .nav-tabs > li{
    width: 15%;
  }
  .list-view .table-user-info{
    width: 60%;
  }
  .col-md-10.user-desp-part {
  width: 83%;
}
.col-md-1.user-liking {
  width: 13%;
}

}

@media (min-width: 768px) and (max-width: 991px){

.top-tabs .nav-tabs > li{
  width: 18%;
}
.list-view .col-md-1.user-info-icon {
  float: left;
  width: 6%;
}
.list-view .col-md-10.user-desp-part {
  float: left;
  width: 79%;
}
.list-view .col-md-1.user-liking {
  float: right;
  width: 15%;
}
.list-view .table-user-info{
  width: 100%;
}
.list-view .row {
  margin: 0 -15px;
}
.col-md-10.user-desp-part {
  float: left;
  width: 76%;
}
.col-md-1.user-liking {
  float: right;
  width: 17%;
}
.col-md-1.user-info-icon {
  float: left;
  width: 7%;
}
.table-user-info span{
  width: 30%;
}






}

@media (max-width: 767px){

.top-tabs .nav-tabs > li {
  width: 32%;
}
.navbar-toggle.tog_menu {
  margin-left: 12px;
  margin-right: 25px;
  margin-top: 15px !important;
  padding: 9px 10px;
}
.navbar-form.nav li{
  margin-right: 0px;
  float: left !important;
}
.navbar.navbar-inverse .navbar-collapse {
  border: medium none;
  float: right;
  width: 50%;
}
.navbar-form.nav.navbar.toolbar{
  float: right;
}
.navbar-form.nav li input{
  width: 160px;
  font-size: 12px;
}
.nav > li > a:focus, .nav > li > a:hover {
  border: medium none !important;
  color: #fff !important;
  outline: medium none !important;
  text-decoration: none !important;
  background: none !important;
}
.filter-section > a{
  color: #fff !important;
}
.row.top-tabs{
  top: 50px;
}
.list-view {
  padding-bottom: 10px;
  padding-top: 44px;
}
.list-view .row {
  margin: 0 -15px;
}
.list-view .col-md-1.user-info-icon {
  float: left;
  width: 7%;
}
.list-view .col-md-10.user-desp-part {
  float: left;
  width: 75%;
}
.list-view .col-md-1.user-liking {
  float: right;
  width: 18%;
}
.list-view .table-user-info{
  width: 100%;
}
.list-view .col-md-10.user-desp-part h3 {
  font-size: 13px;
  line-height: 20px;
}
.list-view .col-md-10.user-desp-part h4{
  font-size: 16px;
}
.col-md-1.user-liking > p {
  font-size: 13px;
  line-height: 20px;
}
.user-liking p img {
  margin-right: 13px;
}
.col-md-1.user-liking {
  float: right;
  width: 21%;
}
.col-md-10.user-desp-part {
  float: left;
  width: 70%;
}
.col-md-1.user-info-icon {
  float: left;
  width: 8%;
}
.table-user-info span{
  width: 40%;
}
#map {
  top: 40px;
  position: relative;
}
#page-content-wrapper{
  padding: 0px;
}
.navbar-brand > img {
  display: block;
  width: 150px;
}
.navbar-form{
  box-shadow: none !important;
}


}


@media (max-width: 480px){

  .top-tabs .nav-tabs > li > a{
    font-size: 12px;
  }
.navbar.navbar-inverse .navbar-collapse {
  border: medium none !important;
  float: right;
  margin-left: 0 !important;
  padding-left: 0 !important;
  padding-top: 5px;
  width: 55%;
}
#sidebar-wrapper{
  top: 0px;
}
.top-wrapper-sidemenu h1 {
  color: #fff;
  font-size: 16px;
  margin-top: 0;
  padding: 20px 10px;
}
.top-wrapper-sidemenu {
  background: url("../chicago-police.png") no-repeat scroll 0 0 / contain  rgba(0, 0, 0, 0);
  position: relative;
  width: 100%;
  height: 140px;
}
.col.user-username {
  bottom: 10px;
  color: #fff;
  font-size: 13px;
  left: 12px;
  position: absolute;
  width: 100%;
}
#sidebar-wrapper ul a{
  font-size: 13px;
}
.list-view{
  padding-top: 40px;
}
.comment-share img {
  width: 18px;
}
.user-liking p a{
  font-size: 13px;
}
.list-view .col-md-1.user-liking {
  float: right;
  width: 28%;
  padding-left: 0px;
}
.list-view .col-md-10.user-desp-part {
  float: left;
  width: 62%;
}
.list-view .col-md-1.user-info-icon {
  float: left;
  width: 10%;
}
.col-md-1.user-info-icon > img {
  width: 100%;
}
.list-view .col-md-10.user-desp-part h4{
  font-size: 14px;
}
.list-view .col-md-10.user-desp-part h3 {
  font-size: 12px;
  line-height: 17px;
}
.col-md-1.user-liking > p {
  font-size: 12px;
  line-height: 19px;
}
.list-view .table-user-info span{
  width: 36%;
}
.list-view .table-user-info {
  width: 280px;
}
.list-view .table-user-info li{
  font-size: 11px;
}
.list-view .crime-info li{
  padding: 10px;
}
.navbar-form.nav li input {
  font-size: 12px;
  width: 32px;
  z-index: 99999 !important;
}
.navbar-form.nav.navbar.toolbar .fa.fa-filter {
  font-size: 14px;
  padding: 7px 10px;
}
.navbar-form.nav.navbar.toolbar button i {
  font-size: 14px;
  padding: 5px 0;
}
.navbar-toggle.tog_menu {
  border: medium none !important;
  margin-left: 7px;
  margin-right: 20px;
  margin-top: 15px !important;
  padding: 6px 5px;
}
.navbar-toggle .icon-bar {
  height: 2px;
  width: 18px;
}
.navbar-brand {
  font-size: 16px;
  padding: 15px 10px;
}
.navbar-form.nav li input {
  font-size: 12px;
  width: 100px;
}
.col-md-10.user-desp-part p {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 0;
}
.col-md-10.user-desp-part h4 {
  font-size: 15px;
}
.col-md-10.user-desp-part {
  float: left;
  width: 57%;
}
.col-md-1.user-info-icon {
  float: left;
  width: 10%;
}
.col-md-1.user-liking {
  float: right;
  padding-left: 0;
  width: 33%;
}
.map-popup h3 {
  color: #fff;
  float: left;
  font-size: 15px;
  margin: 0;
  padding-left: 7px;
  padding-top: 4px;
  width: 90%;
}
.table-user-info span {
  width: 33%;
}
.table-user-info {
  margin-top: 10px;
  width: 280px;
}
.table-user-info li{
  font-size: 11px;
}
#wrapper.toggled #sidebar-wrapper{
  width: 280px;
}
#sidebar-wrapper {
  height: 100%;
  left: 280px;
  margin-left: -280px;
  overflow-y: auto;
  position: fixed;
  /*transition: all 0.5s ease 0s;*/
  width: 0;
  z-index: 1000;
}
#wrapper.toggled {
  padding-left: 280px;
}
#wrapper{
  padding-left: 0px;
}
.navbar-form{
  box-shadow: none !important;
}
.navbar-brand > img {
  display: block;
  width: 135px;
}


}

@media (max-width: 320px){
  .list-view .table-user-info{
    width: 250px;
  }
  .list-view .table-user-info span{
  width: 42%;
}
.navbar-form.nav li input {
  font-size: 12px;
  width: 78px;
}
.map-popup h3 {
  color: #fff;
  float: left;
  font-size: 13px;
  margin: 0;
  padding-left: 5px;
  padding-top: 5px;
  width: 89%;
}
.table-user-info {
  margin-top: 10px;
  width: 260px;
}
.table-user-info span {
  width: 38%;
}
.navbar-brand > img {
  display: block;
  width: 118px;
}


}





